:root {
    --main-color: #13294E;
    --text-color: white;
    --item-highlight-color: #f0f0f0; 
}

/*************************************************************************
* CSS CLASSES FOR TOP NAVIGATION BAR
*************************************************************************/

/* Styling of the fixed navbar bar in the app. Its background
   needs to be the app's main color (--main-color).  */
.navbar {
    display: block; /* Occupies its own horizontal space */
    background-color: var(--main-color);
    position: fixed; /* Doesn't move */
    top: 0;
    width: 100%; /* 100% of width of screen */
    align-content: center;
    border-radius: 0px;
    z-index: 100; /* Force it to be on top */
}

/* navbar-items styles items within navbar. They should be centered top-to-bottom
   with a small internal margin */
   .navbar-items {
    display: flex; 
    padding-top: 5px; 
    padding-bottom: 5px;
  }

/* navbar-btn styles the side menu button in the navbar. Its background 
   needs to be transparent so that it looks like it's part of the 
   navbar. Its border color needs to be --main-color so it blends in to
   the navbar.
*/
.navbar-btn {
    background-color: transparent;
    border-color: var(--main-color);
    text-align: center;
}

/* navbar-btn-icon styles the navbar button icon. It should be white, in a large
   font, centered within the button, and the cursor should change to a pointer 
   when over it. 
*/
.navbar-btn-icon {
   color: var(--text-color);
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

/* navbar-app-icon styles the SpeedScore app icon in the navbar. 
   It should be 38 x 38 pixels, with a small right margin so that 
   there is space between it and the navbar's title
*/ 
.navbar-app-icon {
    height: 38px;
    width: 38px;
}
/* navbar-title styles the navbar's title text. 
   It should be text color in a large font.
*/
.navbar-title {
    margin-left: 4px;
    color: var(--text-color);
    font-size: 26px;
}

/*************************************************************************
* CSS CLASSES FOR BOTTOM "MODE" BAR
*************************************************************************/
/* .modebar -- Styling for mode bar at the bottom of the page */
.modebar {
    color: var(--text-color);
    background-color: var(--main-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 200;
}
    
/* .modebar a -- Style the links (buttons) inside the bottom bar */
.modebar a { 
    display: block;
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 2px 2px;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
}

.modebar-btn {
    background-color: var(--main-color);
    color: var(--text-color);
}

.modebar-btn:hover {
    background-color: var(--item-highlight-color);
    color: var(--main-color);
}

/* .modebar-icon -- Style the icons in the bottom bar */
.modebar-icon {
    display:block; 
    padding-top:3px;
}

/* .modebar-text -- Style the text in the bottom bar */
.modebar-text {
    display:block;
    font-size: small;
}

.modebar-selected {
    background-color: var(--item-highlight-color);
    color: var(--main-color);
}

/*************************************************************************
* CSS CLASSES FOR SIDE MENU
*************************************************************************/
/* .sidemenu-btn -- Styling for the button that opens/closes menu */
.sidemenu-btn {
    background-color: transparent;
    border-color: #13294E;
    text-align: center;
}

/* .sidemenu-btn-icon -- Styling for side menu button icon  */
.sidemenu-btn-icon {
    color: color(--text-color);
    font-size: 30px;
    cursor: pointer; /* Indicates button is clickable on hover */
    text-align: center;
}

/* .sidmenu-open -- used to set width to 250px when menu is open */
.sidemenu-open {
    width: 250px;
}

/* .sidemenu-closed -- used to set width to 0px when menu is closed */
.sidemenu-closed {
    width: 0px;
}

/* sidemenu -- Styling of the side menu */
.sidemenu {
    height: 100%; /* Menu is full height of window */
    width: 250px; /* Menu initially hidden -- will be opened on click */
    position: fixed; /* Menu stays in place regardless of other content */
    z-index: 150; /* Force the menu to be at front */
    top: 48px; /* Position menu 48 px from top of screen; accomodates top navbar */
    left: 0; /* Position the menu on the left hand side */
    background-color: var(--main-color); /* Match to main-color */
    color: var(--text-color);
    transition-duration: 0.5s; /* Animation transition time for open/close is 0.5 sec */
    padding-top: 12px; /* Start menu content 12 px from top */
  }

/* Style for side menu title */   
.sidemenu-title {
    position: absolute;
    width:100%; /* width is 100% of menu */
    top: 0px;
    left: 0px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px !important;
    border-bottom: 2px solid var(--text-color);
}

/* sidemenu a -- Styling for menu items, which have <a> tag. */
.sidemenu a {
    padding: 16px 8px 16px 32px; /* Pad each menu item */
    display: block;
    font-size: 16px;
    color: var(--text-color);
}

/* sidemenu div -- Styling for the div containing the menu items.
   It has a top padding of 60px so that it is displayed below the
   absolutely-positioned sidemenu-title. */
.sidemenu-items {
    padding-top: 60px;
}

/* sidemenu a:hover -- When menu item is hovered over, highlight it 
   with light gray background and blue text */
.sidemenu a:hover {
    background-color: var(--item-highlight-color);
    color: var(--main-color) !important;
}

/* sidemenu-profile-icon -- Styling for user profile icon in side menu */
.sidemenu-profile-icon {
    height: 50px;
    width:  50px;
}

/* Style for current user shown in side menu */
.sidemenu-userID {
    padding-left: 4px;
    font-size: 14px;
}


